* {
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}

.nav-item {
    margin:10px;
    border: 2px solid red;
    display: inline-block;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.main-wrapper{
    width: 1200px;
    display: grid;
    grid-template-areas: "h h"
                         "s c"
                         "f f";
    grid-template-columns: 2fr 10fr;
    margin: 0 auto;
}

.header{
    grid-area: h;
    text-align: center;
    border: 2px solid blue;
    height: 40px;
}

.sidebar {
    grid-area: s;

    border: 2px solid red;
}

.content {
    grid-area: c;
    border: 2px solid green;
    text-align: center;
    background-color: darkorange;
    min-height: calc(100vh - (40px + 30px))

    /*height: auto;*/

}

.footer {
    grid-area: f;
    text-align: center;
    border: 2px solid black;
    height: 30px;

}